WS_EUREKABANK_SOAPDOTNET_GR04/02.CLICON/EB_DOTNET_SOAP_CliCon/Connected Services/ServicioEB/WSEureka.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarIngreso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarIngresoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarIngresoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerMovimientos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerMovimientosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="traerMovimientosResult" type="tns:ArrayOfMovimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="movimiento" nillable="true" type="tns:movimiento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="movimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nromov" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="regDeposito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="regDepositoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OperacionCuentaResponse" nillable="true" type="tns:OperacionCuentaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OperacionCuentaResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="regRetiro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="regRetiroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OperacionCuentaResponse" nillable="true" type="tns:OperacionCuentaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="regTransferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuentaOrigen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuentaDestino" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="regTransferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OperacionCuentaResponse" nillable="true" type="tns:OperacionCuentaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="probarConexion">
        <s:complexType />
      </s:element>
      <s:element name="probarConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="probarConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificarTablas">
        <s:complexType />
      </s:element>
      <s:element name="verificarTablasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificarTablasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfMovimiento" nillable="true" type="tns:ArrayOfMovimiento" />
      <s:element name="OperacionCuentaResponse" nillable="true" type="tns:OperacionCuentaResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarIngresoSoapIn">
    <wsdl:part name="parameters" element="tns:validarIngreso" />
  </wsdl:message>
  <wsdl:message name="validarIngresoSoapOut">
    <wsdl:part name="parameters" element="tns:validarIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosSoapIn">
    <wsdl:part name="parameters" element="tns:traerMovimientos" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosSoapOut">
    <wsdl:part name="parameters" element="tns:traerMovimientosResponse" />
  </wsdl:message>
  <wsdl:message name="regDepositoSoapIn">
    <wsdl:part name="parameters" element="tns:regDeposito" />
  </wsdl:message>
  <wsdl:message name="regDepositoSoapOut">
    <wsdl:part name="parameters" element="tns:regDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="regRetiroSoapIn">
    <wsdl:part name="parameters" element="tns:regRetiro" />
  </wsdl:message>
  <wsdl:message name="regRetiroSoapOut">
    <wsdl:part name="parameters" element="tns:regRetiroResponse" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:regTransferencia" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:regTransferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="probarConexionSoapIn">
    <wsdl:part name="parameters" element="tns:probarConexion" />
  </wsdl:message>
  <wsdl:message name="probarConexionSoapOut">
    <wsdl:part name="parameters" element="tns:probarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="verificarTablasSoapIn">
    <wsdl:part name="parameters" element="tns:verificarTablas" />
  </wsdl:message>
  <wsdl:message name="verificarTablasSoapOut">
    <wsdl:part name="parameters" element="tns:verificarTablasResponse" />
  </wsdl:message>
  <wsdl:message name="validarIngresoHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarIngresoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosHttpGetIn">
    <wsdl:part name="cuenta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovimiento" />
  </wsdl:message>
  <wsdl:message name="regDepositoHttpGetIn">
    <wsdl:part name="cuenta" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regDepositoHttpGetOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="regRetiroHttpGetIn">
    <wsdl:part name="cuenta" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regRetiroHttpGetOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaHttpGetIn">
    <wsdl:part name="cuentaOrigen" type="s:string" />
    <wsdl:part name="cuentaDestino" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaHttpGetOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="probarConexionHttpGetIn" />
  <wsdl:message name="probarConexionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verificarTablasHttpGetIn" />
  <wsdl:message name="verificarTablasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarIngresoHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarIngresoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosHttpPostIn">
    <wsdl:part name="cuenta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="traerMovimientosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovimiento" />
  </wsdl:message>
  <wsdl:message name="regDepositoHttpPostIn">
    <wsdl:part name="cuenta" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regDepositoHttpPostOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="regRetiroHttpPostIn">
    <wsdl:part name="cuenta" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regRetiroHttpPostOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaHttpPostIn">
    <wsdl:part name="cuentaOrigen" type="s:string" />
    <wsdl:part name="cuentaDestino" type="s:string" />
    <wsdl:part name="importe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="regTransferenciaHttpPostOut">
    <wsdl:part name="Body" element="tns:OperacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="probarConexionHttpPostIn" />
  <wsdl:message name="probarConexionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verificarTablasHttpPostIn" />
  <wsdl:message name="verificarTablasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WSEurekaSoap">
    <wsdl:operation name="validarIngreso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar ingreso (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:validarIngresoSoapIn" />
      <wsdl:output message="tns:validarIngresoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae los movimientos de una cuenta (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:traerMovimientosSoapIn" />
      <wsdl:output message="tns:traerMovimientosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar depósito y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regDepositoSoapIn" />
      <wsdl:output message="tns:regDepositoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar retiro y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regRetiroSoapIn" />
      <wsdl:output message="tns:regRetiroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar transferencia (devuelve saldo de cuenta origen)</wsdl:documentation>
      <wsdl:input message="tns:regTransferenciaSoapIn" />
      <wsdl:output message="tns:regTransferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping de conexión</wsdl:documentation>
      <wsdl:input message="tns:probarConexionSoapIn" />
      <wsdl:output message="tns:probarConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificar tablas base</wsdl:documentation>
      <wsdl:input message="tns:verificarTablasSoapIn" />
      <wsdl:output message="tns:verificarTablasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSEurekaHttpGet">
    <wsdl:operation name="validarIngreso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar ingreso (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:validarIngresoHttpGetIn" />
      <wsdl:output message="tns:validarIngresoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae los movimientos de una cuenta (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:traerMovimientosHttpGetIn" />
      <wsdl:output message="tns:traerMovimientosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar depósito y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regDepositoHttpGetIn" />
      <wsdl:output message="tns:regDepositoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar retiro y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regRetiroHttpGetIn" />
      <wsdl:output message="tns:regRetiroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar transferencia (devuelve saldo de cuenta origen)</wsdl:documentation>
      <wsdl:input message="tns:regTransferenciaHttpGetIn" />
      <wsdl:output message="tns:regTransferenciaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping de conexión</wsdl:documentation>
      <wsdl:input message="tns:probarConexionHttpGetIn" />
      <wsdl:output message="tns:probarConexionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificar tablas base</wsdl:documentation>
      <wsdl:input message="tns:verificarTablasHttpGetIn" />
      <wsdl:output message="tns:verificarTablasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSEurekaHttpPost">
    <wsdl:operation name="validarIngreso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validar ingreso (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:validarIngresoHttpPostIn" />
      <wsdl:output message="tns:validarIngresoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae los movimientos de una cuenta (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:traerMovimientosHttpPostIn" />
      <wsdl:output message="tns:traerMovimientosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar depósito y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regDepositoHttpPostIn" />
      <wsdl:output message="tns:regDepositoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar retiro y devolver saldo (igual que Java)</wsdl:documentation>
      <wsdl:input message="tns:regRetiroHttpPostIn" />
      <wsdl:output message="tns:regRetiroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar transferencia (devuelve saldo de cuenta origen)</wsdl:documentation>
      <wsdl:input message="tns:regTransferenciaHttpPostIn" />
      <wsdl:output message="tns:regTransferenciaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping de conexión</wsdl:documentation>
      <wsdl:input message="tns:probarConexionHttpPostIn" />
      <wsdl:output message="tns:probarConexionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificar tablas base</wsdl:documentation>
      <wsdl:input message="tns:verificarTablasHttpPostIn" />
      <wsdl:output message="tns:verificarTablasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEurekaSoap" type="tns:WSEurekaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarIngreso">
      <soap:operation soapAction="http://tempuri.org/validarIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <soap:operation soapAction="http://tempuri.org/traerMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <soap:operation soapAction="http://tempuri.org/regDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <soap:operation soapAction="http://tempuri.org/regRetiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <soap:operation soapAction="http://tempuri.org/regTransferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <soap:operation soapAction="http://tempuri.org/probarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <soap:operation soapAction="http://tempuri.org/verificarTablas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEurekaSoap12" type="tns:WSEurekaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarIngreso">
      <soap12:operation soapAction="http://tempuri.org/validarIngreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <soap12:operation soapAction="http://tempuri.org/traerMovimientos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <soap12:operation soapAction="http://tempuri.org/regDeposito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <soap12:operation soapAction="http://tempuri.org/regRetiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <soap12:operation soapAction="http://tempuri.org/regTransferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <soap12:operation soapAction="http://tempuri.org/probarConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <soap12:operation soapAction="http://tempuri.org/verificarTablas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEurekaHttpGet" type="tns:WSEurekaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="validarIngreso">
      <http:operation location="/validarIngreso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <http:operation location="/traerMovimientos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <http:operation location="/regDeposito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <http:operation location="/regRetiro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <http:operation location="/regTransferencia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <http:operation location="/probarConexion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <http:operation location="/verificarTablas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEurekaHttpPost" type="tns:WSEurekaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="validarIngreso">
      <http:operation location="/validarIngreso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerMovimientos">
      <http:operation location="/traerMovimientos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regDeposito">
      <http:operation location="/regDeposito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regRetiro">
      <http:operation location="/regRetiro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regTransferencia">
      <http:operation location="/regTransferencia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="probarConexion">
      <http:operation location="/probarConexion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarTablas">
      <http:operation location="/verificarTablas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEureka">
    <wsdl:port name="WSEurekaSoap" binding="tns:WSEurekaSoap">
      <soap:address location="https://localhost:44396/ec.edu.monster.ws/WSEureka.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEurekaSoap12" binding="tns:WSEurekaSoap12">
      <soap12:address location="https://localhost:44396/ec.edu.monster.ws/WSEureka.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEurekaHttpGet" binding="tns:WSEurekaHttpGet">
      <http:address location="https://localhost:44396/ec.edu.monster.ws/WSEureka.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEurekaHttpPost" binding="tns:WSEurekaHttpPost">
      <http:address location="https://localhost:44396/ec.edu.monster.ws/WSEureka.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>